#header {
    display: flex;
    justify-content: center;
    font-family: "Gloria Hallelujah", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: large;
    color: #024950;
}

body {
    font-family: Arial, sans-serif;
    margin: 20px;
    /* background-color: rgb(0, 174, 255); */
    background-color: #afdde5;
    color: rgb(0, 0, 0);
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 10px;
    border: 1px solid #ccc;
    color: blanchedalmond;
}

th,
td {
    background-color: #024950;
}

.form-group {
    margin-bottom: 15px;
}

#search {
    display: flex;
    gap: 5px;
}

#searchResults {
    height: auto;
    max-height: 700px;
    overflow: auto;
}

footer {
    position: fixed;
    left: 50%;
    bottom: 0;
    display: flex;
    justify-content: center;
    gap: 5px;
}